.column {
    float: left;
    width: 50%;
    padding: 15px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .h6{
    font-size: 1.5rem;
    color:#1c3548;
    margin:0px 0px 10px 0px;
    /* line-height: 60px; */
}
.p{
    color:#747474;
}

.text{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    /* border-radius: 20px; */
    /* border: none; */
    background-color: #8B008B;
    color: white;
}

.button {
    background-color: #8B008B; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


