.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 35%;
    padding: 15px;
  }
  .h1{
    font-size: 3.5rem;
    color:#1c3548;
    margin:0px 0px 10px 0px;
    line-height: 60px;
}
.p{
    color:#747474;
}
.portfolio-btn{
    width:190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    background-color: #8B008B;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
    background-color: #9932CC;
    transition: all ease 0.2s;
}